* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --p: 2rem;
    --h2: 3rem;
    --h1: 4rem;
  }

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

.container {
    display: grid;
    width: 100%;
}

.c1 {
    display: grid;
    flex-wrap: wrap;
    background-color: #E8F9FD;
    width: 100%;
    height: 63rem;
    background-image: url(../img/fondo.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.c2 {
    display: grid;
    flex-wrap: wrap;
    width: 100%;
    height: 48rem;
    background-color: var(--white);
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15rem;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15rem;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: var(--h1);
    color: var(--black);
    text-align: center;
}

.button {
    background-color: #EB5353;
    border-radius: 0.8rem;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    height: 5rem;
    width: 20rem;
}
